# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth
*.ckpt


# Datasets (IMPORTANT pour Criteo)
data/
*.csv
*.tsv
*.gz
*.tar
*.tar.gz
plot/

# Mac
.DS_Store